@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  margin: 0;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  height: 100%;
  flex: 1;
  flex-wrap: wrap;
  border-width: 1px;
}

.column {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}

.box {
  flex: 1 1 0;
  opacity: 0;
}

.bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: none;
  width: 75px;
  height: 100%;
  box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
  background-color: #E4E4E7;
  position: relative;
  z-index: 10;
}   

.pen-size-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5%;
  margin-bottom: 12px;
}

.slider-container {
  margin: 15px 0 0 0;
  display: flex;
  justify-content: center;
  height: 50%;
  width: 30%;
}

.range-slider {
  opacity: 0.7;
  -webkit-appearance: none;
  appearance: none;
  height: 100%;
  width: 55%;
  writing-mode: vertical-lr;
  direction: ltr;
  background: #babac4;
  border-radius: 20px;
}

.range-slider:hover {
  opacity: 1;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #545454;
  width: 25px;
  height: 25px;
  opacity: 100%;
  border-radius: 50%;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  top: 25%;
  left: 77%;
  font-family: 'Roboto';
  font-size: 12px;
  white-space: nowrap;
  background-color: #EDE9EB;
  padding: 3px;
  border-radius: 5px;
  box-shadow: 0 1px 2px #babac4;
}

.icon, button {
  padding: 0;
  margin: 0;
  width: 75%;
  aspect-ratio: 1 / 1;
  border-style: none;
  background-color: #E4E4E7;
  opacity: 0.8;
}

button:hover {
  opacity: 1;
}

.clear {
  margin-top: auto;
  margin-bottom: 15px;
}






